In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)

<ipython-input-1-fd0b9af24538>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

We’ve provided a csv file containing data about the game show Jeopardy! in a file named jeopardy.csv. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

Note that in order to make this project as “real-world” as possible, we haven’t modified the data at all — we’re giving it to you exactly how we found it. As a result, this data isn’t as “clean” as the datasets you normally find on Codecademy. More specifically, there’s something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier the rest of the project.

In order to disply the full contents of a column, we’ve added this line of code to the top of your file:

In [2]:
#Load in the jeopardy data
df = pd.read_csv('jeopardy.csv')
print(df.head())

   Show Number    Air Date      Round                         Category  Value  \
0  4680         2004-12-31  Jeopardy!  HISTORY                          $200
1  4680         2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2  4680         2004-12-31  Jeopardy!  EVERYBODY TALKS ABOUT IT...      $200
3  4680         2004-12-31  Jeopardy!  THE COMPANY LINE                 $200
4  4680         2004-12-31  Jeopardy!  EPITAPHS & TRIBUTES              $200

                                                                                                      Question  \
0  For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2  The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3  In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4  Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2  Arizona
3  McDonald's
4  John Adams

In [3]:
# Finding out what is wrong with column names
print(df.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
# Column names have extra spaces. Cleaning them up for easier analysis
jeopardy = df.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": \
                                "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})
print(jeopardy.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list ["King", "England"] was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings "King" and "England" somewhere in its " Question".

Note that in this example, we found 152 rows by filtering the entire dataset. You can download the entire dataset at the start or end of this project. The dataset used on Codecademy is only a fraction of the dataset so you won’t find as many rows.

Test your function by printing out the column containing the question of each row of the dataset.

Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

For example, think about capitalization. We probably want to find questions that contain the word "King" or "king".

You may also want to check to make sure you don’t find rows that contain substrings of your given words. For example, our function found a question that didn’t contain the word "king", however it did contain the word "viking" — it found the "king" inside "viking". Note that this also comes with some drawbacks — you would no longer find questions that contained words like "England's".

In [5]:
### Function takes the arguments data (a dataframe) and the words to be filtered
### Lambda function used to put everything into lowercase so that words can be found regardless of case
def filter(data, words):
        contains = lambda x: all(word.lower() in x.lower() for word in words)
        return data.loc[data['Question'].apply(contains)]

test = filter(jeopardy, ['King', 'England'])
print(test)

        Show Number    Air Date             Round               Category  \
4953    3003         1997-09-24  Double Jeopardy!  "PH"UN WORDS
6337    3517         1999-12-14  Double Jeopardy!  Y1K
9191    3907         2001-09-04  Double Jeopardy!  WON THE BATTLE
11710   2903         1997-03-26  Double Jeopardy!  BRITISH MONARCHS
13454   4726         2005-03-07  Jeopardy!         A NUMBER FROM 1 TO 10
...      ...                ...        ...                           ...
208295  4621         2004-10-11  Jeopardy!         THE VIKINGS
208742  4863         2005-11-02  Double Jeopardy!  BEFORE & AFTER
213870  5856         2010-02-15  Double Jeopardy!  URANUS
216021  1881         1992-11-09  Double Jeopardy!  HISTORIC NAMES
216789  5070         2006-09-29  Double Jeopardy!  ANCIENT HISTORY

         Value  \
4953    $200
6337    $800
9191    $800
11710   $600
13454   $1000
...       ...
208295  $600
208742  $3,000
213870  $1600
216021  $1000
216789  $1200

                                                                                                      Question  \
4953    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337    In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710   This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454   It's the number that followed the last king of England named William
...                                                                      ...
208295  In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742  Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870  In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021  His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789  This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric

                              Answer
4953    Philately (stamp collecting)
6337    Ethelred
9191    Henry V
11710   James I
13454   4
...    ..
208295  William the Conqueror
208742  William of Orange roughy
213870  George III
216021  Edward VII
216789  Wessex

[152 rows x 7 columns]

In [6]:
test2 = filter(jeopardy, ['France', 'Queen'])
print(test2)

        Show Number    Air Date             Round                   Category  \
51910   4895         2005-12-16  Jeopardy!         CHICKS RULE!
52510   2912         1997-04-08  Double Jeopardy!  CONTEMPORARIES
61540   3048         1997-11-26  Jeopardy!         PEOPLE IN HISTORY
66845   5575         2008-11-28  Double Jeopardy!  HEY 19
70809   3579         2000-03-09  Double Jeopardy!  MUSIC
71291   4366         2003-09-08  Double Jeopardy!  NAME THE DECADE
78626   4392         2003-10-14  Double Jeopardy!  THREE'S COMPANY
96160   2207         1994-03-22  Double Jeopardy!  KINGS & QUEENS
96764   3870         2001-06-01  Double Jeopardy!  PEOPLE IN HISTORY
140746  6092         2011-02-22  Double Jeopardy!  HOMECOMING KINGS & QUEENS
141359  65           1984-12-07  Final Jeopardy!   TITLED HEADS
177111  963          1988-11-09  Double Jeopardy!  MISSIONARIES
179164  4733         2005-03-16  Jeopardy!         HISTORIC NAMES
180909  2869         1997-02-06  Double Jeopardy!  TEENS OF THE PAST
185407  5316         2007-10-22  Double Jeopardy!  R&B (ROYALTY & BALLET)
191010  3609         2000-04-20  Double Jeopardy!  THE GOAT
206654  3864         2001-05-24  Jeopardy!         QUEENS
207557  3930         2001-10-05  Double Jeopardy!  FRENCH ART & ARTISTS
208661  5244         2007-05-31  Jeopardy!         DESCARTES
215389  3400         1999-05-21  Jeopardy!         FUN COUPLES IN HISTORY

        Value  \
51910   $800
52510   $400
61540   $300
66845   $1600
70809   $200
71291   $1600
78626   $1200
96160   $400
96764   $400
140746  $400
141359  None
177111  $600
179164  $200
180909  $200
185407  $1200
191010  $200
206654  $500
207557  $400
208661  $1000
215389  $300

                                                                                                                                                                                           Question  \
51910   In 1559, filling out an already impressive resume, she became queen consort of France as well as queen of Scotland
52510   In 1547 Hernan Cortes died & this Medici became queen of France
61540   Born in 1519, this Medici queen of France was the great-niece of Pope Leo X
66845   She was Queen of France for 19 years, from 1774 to 1793
70809   Legend says one of Haydn's symphonies is nicknamed "The Queen" because this queen of France liked it
71291   France's king & queen make a royal visit to the guillotine
78626   The principal action of this 1844 novel involves the return of 12 diamond pendants to the queen of France
96160   2 members of this Florentine family, Catherine & Marie, became queens of France
96764   One of the most powerful Queen Mothers ever, this Medici was the mother of the last 3 Valois kings of France
140746  Mary, queen of these people, didn't see many of them when she lived in France from age 5 until her return at 18
141359  Queen of France 1559-60; Catholic Europe considered her the rightful queen of England
177111  After the queen of this South Seas island expelled French missionaries, France took over the island
179164  Just months after becoming the Duchess of Aquitaine, she became the Queen of France
180909  This Scotswoman was just 16 when she became queen of France in 1559
185407  The first ballet, "Ballet Comique de la Reine", was presented at the court of this Medici Queen of France in 1581
191010  Many blamed France's financial problems just before the revolution on this queen's spending
206654  This queen was the mother of France's Louis XVII
207557  Seen <a href="http://www.j-archive.com/media/2001-10-05_DJ_03.jpg" target="_blank">here</a> in a self-portrait, Madame Vigee Lebrun was painter to this queen before fleeing France in 1789
208661  Though born in France, Descartes died in this country where he had gone to teach Queen Christina
215389  Some say this queen of France lost her head over a handsome Swede before she really lost her head in 1793

                      Answer
51910   Mary Stuart
52510   Catherine
61540   Catherine de' Medici
66845   Marie Antoinette
70809   Marie Antoinette
71291   the 1790s
78626   The Three Musketeers
96160   the de Medici
96764   Catherine de' Medici
140746  the Scots
141359  Mary, Queen of Scots
177111  Tahiti
179164  Eleanor of Aquitaine
180909  Mary, Queen of Scots
185407  Catherine
191010  Marie Antoinette
206654  Marie Antoinette
207557  Marie Antoinette
208661  Sweden
215389  Marie Antoinette

We may want to eventually compute aggregate statistics, like .mean() on the " Value" column. But right now, the values in that column are strings. Convert the " Value" column to floats. If you’d like to, you can create a new column with the float values.

In [7]:
### Find out what values is stored as
print(jeopardy.info('Value'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air Date     216930 non-null  object
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        216930 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB
None

In [8]:
### Values are stored as strings. They contain a dollar sign, some have commas, and some have "None" instead of a number
### Values need to be converted to floats by removing the dollar sign and comma, and replacing "None" with 0
### Removes the dollar sign and replaces none with 0
jeopardy['Value'] = jeopardy['Value'].apply(lambda x: x[1:] if x!= "None" else 0)
print(jeopardy['Value'].head())

0    200
1    200
2    200
3    200
4    200
Name: Value, dtype: object

In [9]:
### Remove the commas from the thousands values
jeopardy['Value'] = jeopardy['Value'].apply(lambda x: x.replace(',', '') if x!= 0 else 0)
print(jeopardy['Value'])

0         200
1         200
2         200
3         200
4         200
         ...
216925    2000
216926    2000
216927    2000
216928    2000
216929    0
Name: Value, Length: 216930, dtype: object

In [10]:
### Convert the valuies into floats
jeopardy['Value'] = jeopardy['Value'].astype(float)
print(jeopardy['Value'])

0         200.0
1         200.0
2         200.0
3         200.0
4         200.0
          ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929    0.0
Name: Value, Length: 216930, dtype: float64

Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the “difficulty” of certain topics. For example, what is the average value of questions that contain the word "King"?

Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [11]:
### Bring in numpy and get summary stats about the value column
import numpy as np
print(jeopardy['Value'].describe())

count    216930.000000
mean     739.988476
std      639.822693
min      0.000000
25%      400.000000
50%      600.000000
75%      1000.000000
max      18000.000000
Name: Value, dtype: float64

In [12]:
### Can use our previously created filter function and call the value column to get the stats
### Based on the words we would like to investigate. This example is questions that contain King
filtervalue1 = filter(jeopardy, "King")
print(filtervalue1['Value'].describe())

count    65811.00000
mean     777.49276
std      646.79280
min      0.00000
25%      400.00000
50%      600.00000
75%      1000.00000
max      18000.00000
Name: Value, dtype: float64

In [13]:
### Questions that contain Queen
filtervalue2 = filter(jeopardy, "Queen")
print(filtervalue2['Value'].describe())

count    11097.000000
mean     768.433901
std      660.619932
min      0.000000
25%      400.000000
50%      600.000000
75%      1000.000000
max      10800.000000
Name: Value, dtype: float64

In [14]:
### Questions that contain King and Queen
filtervalue3 = filter(jeopardy, ["King", "Queen"])
print(filtervalue3['Value'].describe())

count    102.000000
mean     815.686275
std      857.436324
min      0.000000
25%      300.000000
50%      600.000000
75%      1000.000000
max      5000.000000
Name: Value, dtype: float64

In [15]:
# Based on the stats above, difficulty can be assessed based on the average values. 
# King had the most questions with 65,811 and queen only 11,097. Using king and queen gives only 102 questions.
# The average difficulty for the king and Queen combination is higher than king or queen alone. This is shown 
# in the average value of \\$815, which is roughly $50 higher than the averages for King and Queen alone.

Write a function that returns the count of the unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word "King", we could then find all of the unique answers to those questions. The answer “Henry VIII” appeared 3 times and was the most common answer.

In [16]:
### Function returns the values from the Answer column. Use the prvious filter function
### to filter the data and imput it into this function
def unique_answers(data):
    return data['Answer'].value_counts()

### Test the function
Answer_count = filter(jeopardy, ['King', 'Queen', 'England']) 
print(unique_answers(Answer_count))

Edward VII       1
Ronald Reagan    1
George I         1
Name: Answer, dtype: int64

Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven’t even started looking at yet. Here are some ideas on ways to continue working with this data:

    Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word "Computer" compared to questions from the 2000s?
    Is there a connection between the round and the category? Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?
    Build a system to quiz yourself. Grab random questions, and use the input function to get a response from the user. Check to see if that response was right or wrong. Note that you can’t do this on the Codecademy platform — to do this, download the data, and write and run the code on your own computer!

In [ ]:
### To Be Continued